@model ProjekatPraksa.Models.StudentEntity

@{
    ViewData["Title"] = "Delete";
}

<h2 class="d-flex justify-content-center align-content-center pt-4 pb-3">Jeste li sigurni da želite obrisati podatke?</h2>
<div class="d-flex justify-content-center align-content-center w-100">
    <hr />
    <dl class="row">
        <dt class="col-sm-6 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-6 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-6 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
        <dt class="col-sm-6 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-6 d-flex justify-content-end">
            @Html.DisplayNameFor(model => model.Source)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Source)
        </dd>
    </dl>
</div>

<div class="d-flex justify-content-center"> 
        <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-danger" /> &nbsp
        <a class="btn btn-primary" asp-action="Index">Nazad</a>
        </form>
</div>
