@model IEnumerable<ProjekatPraksa.Models.StudentEntity>

@{
    ViewData["Title"] = "Index";
}


<div class="row justify-content-center align-items-center">
    <div class="col-auto">
        <table class="table align-middle">
            <thead>
                <tr>
                    <th>
                        Slika
                    </th>
                    <th>
                        Ime
                    </th>
                    <th>
                        Prezime
                    </th>
                    <th>
                        Telefon
                    </th>
                    <th>
                        Email
                    </th>
                    <th class="text-center">
                        Izmjena
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        <img src="~/Images/@item.ImageUrl" style="width:75px;height:75px"/>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mobile)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-sm btn-primary ml-1" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-sm btn-danger ml-1" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div> 
<div class="d-flex justify-content-center align-content-center">
    <a class="btn btn-primary" asp-action="Create">Novi unos</a>
</div>
